@use '../../tool' as *;

.wp-block-avatar {
  img {
    display: block;
  }
  &.is-style-biblio-squircle {
    line-height: 1;
    img {
      mask-size: 100%, 100%;
      mask-image: var(--img--avatar-mask);
    }
  }
}