@use '../../tool' as *;

.wp-block-post-featured-image {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 16/9;
  img {
    aspect-ratio: 16/9;
    object-fit: cover;
  }
}

.single .wp-block-post-featured-image {
  width: unset;
  margin-right: calc( -1 * var(--wp--custom--base--padding--side)) !important;  
  margin-left: calc( -1 * var(--wp--custom--base--padding--side)) !important;  
}
@include mq(sm) {
  .single .wp-block-post-featured-image {
    width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}