.wp-block-query-pagination > .wp-block-query-pagination-numbers {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

.wp-block-query-pagination-numbers {
  display: flex;
  gap: 8px;
  .page-numbers {
    border-radius: 2px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    &:not(.dots) {
      min-width: 2rem;
      background-color: var(--color--support-background);
      padding-inline: 0.5rem;
    }
    &:hover:not(.dots) {
      opacity: 1;
      color: var(--color--background);
      background-color: var(--color--text);
    }
    &.current {
      color: var(--color--background);
      background-color: var(--color--text);
    }
  }
}