@use '../../tool' as *;

.wp-block-cover {
  // 強引に位置を調整、gutenbergnのアップデートで構造が変わるかも
  &:is(.alignleft, .alignright) {
    max-width: calc(var(--wp--style--global--content-size) / 2);
    margin-top: calc(var(--wp--style--block-gap) + 0.5em);
    @include mq(sm) {
      margin-top: calc(var(--wp--style--block-gap) + 0.5em);
    }
  }
  &.alignleft {
    margin-right: 1em !important;
    margin-left: calc( (100% - 100vw + 2rem) / 2 ) !important;
    @include mq(sm) {
      margin-left: calc( (100% - var(--wp--style--global--content-size)) / 2 ) !important;  
    }
  }
  &.alignright {
    margin-right: calc( (100% - 100vw + 2rem) / 2 ) !important;
    margin-left: 1em !important;
    @include mq(sm) {
      margin-right: calc( (100% - var(--wp--style--global--content-size)) / 2 ) !important;
    }
  }
  // fix カバーブロック内での右寄せ左寄せ対応
  .wp-block-cover__inner-container {
    > .alignleft {
      float: left;
    }
    > .alignright {
      float: right;
    }
  }
}

// コンテンツの最初に右寄せ左寄せの画像がくるときの対応
:where(body .is-layout-constrained) > :first-child:first-child {
  &.wp-block-cover {
    &:is(.alignleft, .alignright) {
      margin-block-start: 0.5em !important;
    }
  }
}

// 強引に位置を調整 全幅幅広グループ内での左寄せ右寄せに対応
.wp-block-group {
  // グループ内での右寄せ左寄せ時の上下マージンを調整
  > .wp-block-cover {
    &:is(.alignleft, .alignright) {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }
  &.is-layout-flow {
    &.alignfull {
      > .wp-block-cover {
        &:where(.alignleft, .alignright) {
          max-width: calc( 100% / 2 );
        }
        &.alignleft {
          margin-left: var(--wp--style--root--padding-left) !important;
        }
        &.alignright {
          margin-right: var(--wp--style--root--padding-right) !important;
        }
      }
    }
    &.alignwide {
      > .wp-block-cover {
        &:where(.alignleft, .alignright) {
          max-width: calc(var(--wp--style--global--wide-size) / 2);
        }
        &.alignleft {
          margin-left: calc( (100% - var(--wp--style--global--wide-size)) / 2 ) !important;  
        }
        &.alignright {
          margin-right: calc( (100% - var(--wp--style--global--wide-size)) / 2 ) !important;  
        }
      }
    }
  }
}