@use '../../tool' as *;


.wp-block-search {
  .wp-block-search {
    &__label {
      display: inline-block;
      margin-bottom: var(--spacing--20);
      font-weight: 600;
    }
    &__button {
      color: var(--color--background);
      background-color: var(--color--text);
      border-width: 0;
      padding: var(--spacing--20);
      font-size: var(--font-size--sm);
      line-height: 1;
      margin: 0;
    }
    &__input {
      padding: var(--spacing--20);
      margin: 0;
      background-color: var(--color--support-background);
      border: 0;
      font-weight: 300;
      letter-spacing: inherit;
      line-height: 1;
    }
  }
  // inside button
  &.wp-block-search__button-inside {
    .wp-block-search__inside-wrapper {
      border: solid 1px var(--color--support-text);
      background-color: var(--color--support-background);
    }
    .wp-block-search__button {
      padding: var(--spacing--20);
    }
    .wp-block-search__input {
      padding: var(--spacing--20);
      background: none;
    }
  }
  // outside button
  &.wp-block-search__button-outside {
    .wp-block-search__input {
      padding: var(--spacing--30);
    }
  }
  // button only
  &.wp-block-search__button-only {
    .wp-block-search__input {
      padding: var(--spacing--30);
    }
  }
  // text button
  &.wp-block-search__text-button {
    .wp-block-search__button {
      padding: var(--spacing--30);
    }
  }
  // no button
  &.wp-block-search__no-button {
    .wp-block-search__input {
      border: solid 1px var(--color--support-text);
      padding: var(--spacing--30);
    }
  }
}