@use '../../tool' as *;


.wp-block-search {
  .wp-block-search {
    &__label {
      display: inline-block;
      margin-bottom: spacing(xxs);
      font-weight: 600;
    }
    &__button {
      color: var(--color--background);
      background-color: var(--color--text);
      border-width: 0;
      padding: spacing(xxs);
      font-size: var(--fontSize--sm);
      margin: 0;
    }
    &__input {
      padding: spacing(xxs);
      margin: 0;
      background-color: var(--color--support-background);
      border: 0;
      font-weight: 300;
      letter-spacing: inherit;
      line-height: 1;
    }
  }
  // inside button
  &.wp-block-search__button-inside {
    .wp-block-search__inside-wrapper {
      background-color: var(--color--support-background);
      .wp-block-search {
        &__button {
          padding: spacing(xxs);
        }
        &__input {
          padding: spacing(xxs);
          background: none;
        }
      }
    }
  }
  // text button
  &.wp-block-search__text-button {
      .wp-block-search {
        &__button {
          padding: spacing(xs);
        }
        &__input {
          margin: 0;
          padding: spacing(xs);
        }
      }
  }

}