.wp-block-post-navigation-link {
  display: flex;
  flex-direction: column;
  a {
    order: 2;
    display: block;
    position: relative;
    span {
      display: block;
    }
  }
  .is-arrow-arrow {
    order: 1;
    margin: 0;
    line-height: 1;
  }
}