.is-style-biblio-simple {
  &.wp-block-post-navigation-link {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    a {
      flex-basis: 100%;
      transition: .2s ease;
      span {
        display: block;
      }
      .post-navigation-link__title {
        font-size: 0.8em;
      }
    }
  
    .is-arrow-arrow,
    .is-arrow-chevron {
      margin: 0;
      line-height: 1;
    }

  }
  
  &.post-navigation-link-previous {
    border-left: solid 2px var(--color--text);
    .is-arrow-arrow,
    .is-arrow-chevron {
      padding-left: 4px;
    }
    a:hover {
      transform: translateX( 2px );
    }
  }
  
  &.post-navigation-link-next {
    border-right: solid 2px var(--color--text);
    .is-arrow-arrow,
    .is-arrow-chevron {
      padding-right: 4px;
    }
    a:hover {
      transform: translateX( -2px );
    }
  }
}