.wp-block-query-pagination > .wp-block-query-pagination-numbers {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

.wp-block-query-pagination-numbers {
  display: flex;
  gap: 8px;
  .page-numbers {
    height: fit-content;
    &:not(.dots) {
      padding: .6rem .75rem;
      background-color: var(--wp--preset--color--biblio-support-foreground);
    }
    &:hover:not(.dots) {
      opacity: 1;
      color: #fff;
      background-color: var(--wp--preset--color--biblio-text);
    }
    &.current {
      color: #fff;
      background-color: var(--wp--preset--color--biblio-text);
    }
    &.dots {
      padding-block: .6rem;
    }
  }
}