@use '../../tool' as *;

.wp-block-quote {
  border-left: 0;
  position: relative;
  p {
    line-height: inherit;
    &:first-child {
      margin-top: 0;
    }
  }
  cite {
    display: block;
    text-align: right;
  }
  &::before, &::after {
    font-family: "biblio-icon";
    font-size: 1.5em;
    color: var(--color--support-text);
    position: absolute;
    line-height: 1;
  }
  &::before {
    content: "\e905";
    top: 4px;
    left: 4px;
  }
  &::after {
    content: "\e906";
    bottom: 4px;
    right: 4px;
    top: auto;
    left: auto;
  }
}