%common {
  overflow-x: auto;
}

.u-height {
  &--1 {
    @extend %common;
    max-height: var(--wp--custom--utility--height--1);
  }
  &--2 {
    @extend %common;
    max-height: var(--wp--custom--utility--height--2);
  }
  &--3 {
    @extend %common;
    max-height: var(--wp--custom--utility--height--3);
  }
}