p {
  &.has-background {
    padding: 1em 1.5em;
  }
  &.is-style-biblio-align-justify {
    text-align: justify;
    &.wp-block-biblio-vertical-group {
      text-justify: inter-ideograph;
    }
  }
}