.wp-block-calendar {
  font-size: var(--font-size--xs);
  caption {
    margin-bottom: 0.5em;
  }
  table {
    thead {
      th {
        border: solid 1px var(--color--support-text);
        background-color: initial;
        border-bottom: solid 1px var(--color--text);
      }
    }
  
    tbody {
      td {
        border: solid 1px var(--color--support-text);
        line-height: 2;
      }
    }
  }
  .wp-calendar-nav {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
  }
  
}