.is-root-container .wp-block[data-align="full"] {
  .wp-block-group {
    &.has-background,
    &.has-border-color,
    &[style*="border-style"] {
      padding: 0 var(--wp--custom--base--padding--side);
    }
  }
}


.block-editor-block-list__layout {
  .wp-block-group {
    &.block-editor-block-list__block {
      &:before {
        border-radius: 2px;
        bottom: 0;
        box-shadow: 0 0 0 var(--wp-admin-border-width-focus) #0000;
        content: "";
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
      }
      &:not([contenteditable]):focus:before {
        border-radius: 1px;
        bottom: 1px;
        box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
        content: "";
        left: 1px;
        outline: 2px solid #0000;
        pointer-events: none;
        position: absolute;
        right: 1px;
        top: 1px;
        z-index: 1;
      }
      &:after {
        box-shadow: none;
        position: relative;
      }
    }
  }
}