@use '../../tool' as *;

// 画像がずれるのを修正
.wp-block-post-featured-image {
  margin: auto;
  width: 100%;
  aspect-ratio: 16/9;
  a {
    height: 100%;
  }
  img {
    height: 100%;
    object-fit: cover;
  }
}