// variables
//-----------------------------------
$images: (
  avatar-mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj4KICA8cGF0aCBpZD0iYXZhdGFyLW1hc2siIGRhdGEtbmFtZT0iYXZhdGFyLW1hc2siIGQ9Ik0xNiwwQzI2LjYyNywwLDMyLDUuMzczLDMyLDE2UzI2LjYyNywzMiwxNiwzMiwwLDI2LjYyNywwLDE2LDUuMzczLDAsMTYsMFoiLz4KPC9zdmc+")
);

$colors: (
  text: var(--wp--preset--color--biblio-text),
  background: var(--wp--preset--color--biblio-background),
  support-text: var(--wp--preset--color--biblio-support-text),
  support-background: var(--wp--preset--color--biblio-support-background),
  primary: var(--wp--preset--color--biblio-primary),
  secondary: var(--wp--preset--color--biblio-secondary),
);

$font-size: (
  3xs: var(--wp--preset--font-size--biblio-3-xs),
  2xs: var(--wp--preset--font-size--biblio-2-xs),
  xs:  var(--wp--preset--font-size--biblio-xs),
  sm:  var(--wp--preset--font-size--biblio-sm),
  md:  var(--wp--preset--font-size--biblio-md),
  lg:  var(--wp--preset--font-size--biblio-lg),
  xl:  var(--wp--preset--font-size--biblio-xl),
  2xl: var(--wp--preset--font-size--biblio-2-xl),
  3xl: var(--wp--preset--font-size--biblio-3-xl),
  4xl: var(--wp--preset--font-size--biblio-4-xl),
);

// margin or padding, px to rem.
$spacing: (
  xxs:  4px,
  xs:   8px,
  sm:  16px,
  md:  32px,
  lg:  48px,
  xl:  64px,
  xxl: 80px,
);

$line-height: (
  base: 2,
);

$media-query: (
  sm: 43.34375rem, // layout post width(41.34375rem) + side margin(1rem * 2)
  md: 1024px,
  lg: 1280px, // layout wide
  xl: 1920px, // layout page-wide
);