@use '../../tool' as *;

//-------------------------------------------------
// core clumns style reset and restyle.
//-------------------------------------------------
// reset
@media (min-width: 600px) {
  .wp-block-post-template {
    &.is-flex-container.is-flex-container {
      &.columns-2, &.columns-3, &.columns-4, &.columns-5, &.columns-6 {
        & > li {
          width: auto;
        }
      }
    }
  }
}

// common
.wp-block-post-template {
  display: grid;
  gap: 4px;
  &.is-layout-flow > * + * {
    margin-block-start: 0 !important;
  }
  &.is-flex-container.is-flex-container {
    display: grid;
    gap: var( --wp--custom--post-template--gap)
  }
}

// block-editor-block-list__block wp-block is-layout-flow wp-block-post-template-is-layout-flow wp-block-post-template
// block-editor-block-list__block wp-block is-layout-flow wp-block-post-template-is-layout-flow wp-block-post-template

// .wp-block-post-template,
// .wp-block-query.min-columns-2 {
//   &.is-flex-container.is-flex-container {
//     @include mq(min) {
//       &.columns-2, &.columns-3, &.columns-4, &.columns-5, &.columns-6 {
//         grid-template-columns: repeat(2, 1fr) !important;
//       }
//     }
//   }
// }

// .wp-block-post-template,
// .wp-block-query.is-style-biblio-auto-fit {
//   // align none (wide)
//   &.is-flex-container.is-flex-container {
//     &.columns-2, &.columns-3, &.columns-4, &.columns-5, &.columns-6 {
//       grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)) !important;
//     }
//   }
// }

.wp-block-post-template {
  &.is-flex-container.is-flex-container {
    @include mq(sm) {
      &.columns-2, &.columns-3, &.columns-4, &.columns-5, &.columns-6 {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @include mq(md) {
      &.columns-3, &.columns-4, &.columns-5, &.columns-6 {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @include mq(lg) {
      &.columns-4 {
        grid-template-columns: repeat(4, 1fr);
      }
      &.columns-5 {
        grid-template-columns: repeat(5, 1fr);
      }
      &.columns-6 {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}