// 回り込みさせずにtext-align方式に変更。デフォルト設定のfloatの打ち消し。
// block名でスコープできていないので他のグループになっているブロックに影響があるかもしれない。
.wp-block-group {
  > [data-align="left"], > [data-align="right"], > [data-align="center"] {
    &.wp-block {
      float: initial;
      margin-left: 0;
    }
  }
}

[data-align="left"], [data-align="right"], [data-align="center"] {
  float: initial;
  .wp-block-categories {
    &.block-editor-block-list__block {
      float: none;
    }
  }
}

[data-align="left"] {
  .wp-block-categories {
    text-align: left;
  }
}

[data-align="right"] {
  .wp-block-categories {
    text-align: right;
    &__list {
      list-style: none;
      padding-left: 0;
    }
  }
}

[data-align="center"] {
  .wp-block-categories {
    text-align: center;
    &__list {
      list-style: none;
      padding-left: 0;
    }
  }
}