.wp-block-categories {
  // fix 中央寄せするように
  &.aligncenter {
    text-align: center;
    padding-left: 0;
    list-style: none;
  }
}

.wp-block-categories-dropdown {
  select {
    padding: .4em .2em;
  }
}