@use '../../tool' as *;

.wp-block-comment-template {
  // fix コメント内でリストタグが正常に表示されるようにする
  ol {
    list-style: auto;
  }

  // 共通
  .comment {
    .wp-block-columns {
      margin: 0;
    }
    > ol {
      list-style: none;
      padding-left: 0;
    }
  }
  
  .depth-1 {
    background-color: color(support-background);
    padding: 1rem;
    margin-top: 1rem;
  }
  .comment.depth-2 {
    padding-inline-start: 0;
  }
  // depth-1以降
  .comment:where(:not(.depth-1)) {
      border-top: solid 1px color(support-text);
      padding-block-start: 1rem;
      margin-block-start: 1rem !important;
      // padding-inline-start: 1rem;
      > ol {
        margin-block-start: 1rem !important;
        padding-inline-start: 1rem;
      }
  }
}