@use '../../tool' as *;

figure.wp-block-image {
  img {
    max-width: 100%;
  }
  figcaption {
    font-size: fontSize(xs);
    margin: .5em auto 0 auto;
    text-align: center;
    opacity: .8;
  }
  
  &.alignleft, &.alignright {
    padding-block-start: .5em;
    padding-block-end: .5em;
    figcaption {
      display: block;
      max-width: fit-content;
    }
  }
  &.alignleft.alignleft {
    margin-inline-end: 1rem;
  }
  &.alignright.alignright {
    margin-inline-start: 1rem;
  }
}

//-------------------------------------------------
// fix: 右・左寄せが幅に収まらない
//-------------------------------------------------
// 投稿
.single {
  figure.wp-block-image {
    &.alignleft {
      margin-inline-start: max(calc((100% - var(--wp--custom--layout--post)) / 2), 0px);
    }
    &.alignright {
      margin-inline-end: max(calc((100% - var(--wp--custom--layout--post)) / 2), 0px);
    }
  }
  .wp-block-group > {
    figure.wp-block-image {
      &.alignleft {
        margin-inline-start: initial;
      }
      &.alignright {
        margin-inline-start: initial;
      }
    }
  }
}
// 固定ページ
.page {
  figure.wp-block-image {
    &.alignleft {
      margin-inline-start: max(calc((100% - var(--wp--custom--layout--wide)) / 2), 0px);
    }
    &.alignright {
      margin-inline-end: max(calc((100% - var(--wp--custom--layout--wide)) / 2), 0px);
    }
  }
  .wp-block-group > {
    figure.wp-block-image {
      &.alignleft {
        margin-inline-start: initial;
      }
      &.alignright {
        margin-inline-start: initial;
      }
    }
  }
}
// エディター用(image-editorでは.post-type-postが適用されない)
.post-type-post {
  .block-editor-block-list__layout.is-root-container {
    figure.wp-block-image {
      &.alignleft {
        margin-inline-start: max(calc((100% - var(--wp--custom--layout--post)) / 2), 0px);
      }
      &.alignright {
        margin-inline-end: max(calc((100% - var(--wp--custom--layout--post)) / 2), 0px);
      }
    }
    .wp-block-group > {
      figure.wp-block-image {
        &.alignleft {
          margin-inline-start: initial;
        }
        &.alignright {
          margin-inline-start: initial;
        }
      }
    }
  }
}
.post-type-page {
  .block-editor-block-list__layout.is-root-container {
    figure.wp-block-image {
      &.alignleft {
        margin-inline-start: max(calc((100% - var(--wp--custom--layout--wide)) / 2), 0px);
      }
      &.alignright {
        margin-inline-end: max(calc((100% - var(--wp--custom--layout--wide)) / 2), 0px);
      }
    }
    .wp-block-group > {
      figure.wp-block-image {
        &.alignleft {
          margin-inline-start: initial;
        }
        &.alignright {
          margin-inline-start: initial;
        }
      }
    }
  }
}

.is-dark-theme {
  figure.wp-block-image {
    figcaption {
      color: rgba(255, 255, 255, 0.65);
    }
  }
}