@use '../../tool' as *;

figure.wp-block-image {
  img {
    max-width: 100%;
  }
  figcaption {
    font-size: fontSize(xs);
    margin: .5em auto 0 auto;
    text-align: center;
    opacity: .8;
  }
  
  &.alignleft, &.alignright {
    padding-block-start: .5em;
    margin-block-end: .5em;
    figcaption {
      margin: .5em auto 0 auto;
    }
  }
  &.alignleft.alignleft {
    margin-inline-end: 1em;
  }
  &.alignright.alignright {
    margin-inline-start: 1em;
  }
}

//-------------------------------------------------
// fix: 右・左寄せが幅に収まらない
//-------------------------------------------------
.wp-block-image.wp-block-image {
  &.alignleft {
    margin-inline-start: calc((100% - var(--wp--style--global--content-size)) / 2);
  }
  &.alignright {
    margin-inline-end: calc((100% - var(--wp--style--global--content-size)) / 2);
  }
}
.wp-block-group:where(:not(.is-layout-constrained)) > {
  .wp-block-image {
    &.alignleft {
      margin-inline-start: initial;
    }
    &.alignright {
      margin-inline-start: initial;
    }
  }
}