@use '../../tool' as *;

// 優先度不足のためエディターのみ再記述
:is(.wp-block-image, .wp-block-gallery) {
  &:is(.alignleft, .alignright) {
    margin-block-end: .5em !important;
  }
  &.alignleft {
    margin-inline-end: 1em;
  }
  &.alignright {
    margin-inline-start: 1em !important;
  }
}

// エントリーコンテントの直下の時だけ、右寄せ左寄せがずれないように調整
:not(.wp-block-biblio-vertical-group__inner) > :is(.wp-block-image, .wp-block-gallery, .wp-block-video, .wp-block-embed) {
    &.alignleft {
      margin-inline-start: calc((100% - var(--wp--style--global--content-size)) / 2);
    }
    &.alignright {
      margin-inline-end: calc((100% - var(--wp--style--global--content-size)) / 2);
    }
}

// コンテント幅をインナーブロックで使用しない場合に右寄せ左寄せがずれないように調整
.wp-block-group.is-layout-flow > {
  .wp-block-image {
    &.alignleft {
      margin-inline-start: initial;
    }
    &.alignright {
      margin-inline-start: initial;
    }
  }
}