<!-- wp:template-part {"slug":"header","className":"l-header js-sticky"} /-->

<!-- wp:group {"tagName":"main","className":"l-main"} -->
<main class="wp-block-group l-main">
  <!-- wp:group {"tagName":"header","layout":{"type":"constrained"}} -->
  <header class="wp-block-group has-global-padding is-layout-constrained">
    <!-- wp:post-title {"level":1,"textAlign":"center","align":"wide"} /-->
  </header>
  <!-- /wp:group -->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"l-footer"} /-->