@use '../../tool' as *;

// fix 全幅時に全幅にならない、幅広時に中央に配置されないのを修正
body .is-layout-constrained > .wp-block-cover.alignfull {
  max-width: none;
}

.wp-block-cover {
  &__inner-container {
    margin-top: 0;
    p {
      line-height: 1;
    }
  }
  // クリア時のデフォルトカラーを透明にする
  .has-background-dim:not([class*=-background-color]) {
    background-color: transparent;
  }

  // 強引に位置を調整、gutenbergnのアップデートで構造が変わるかも
  &.alignleft, &.alignright {
    max-width: calc(var(--wp--style--global--content-size) / 2);
    margin-top: spacing(md, 0.5, em);
    @include mq(sm) {
      margin-top: spacing(lg, 0.5, em);
    }
  }
  &.alignright {
    margin-right: calc( (100% - 100vw + 2rem) / 2 ) !important;
    margin-left: 1em !important;
    @include mq(sm) {
      margin-right: calc( (100% - var(--wp--style--global--content-size)) / 2 ) !important;
    }
  }
  &.alignleft {
    margin-right: 1em !important;
    margin-left: calc( (100% - 100vw + 2rem) / 2 ) !important;
    @include mq(sm) {
      margin-left: calc( (100% - var(--wp--style--global--content-size)) / 2 ) !important;  
    }
  }
}