// 強引に位置を調整、gutenbergnのアップデートで構造が変わるかも
[data-align="left"], [data-align="right"] {
  .wp-block-cover {
    max-width: calc(42rem / 2);
    margin-top: 0.5em;
  }
}

[data-align="left"] {
  .wp-block-cover {
    margin-right: 1em;
  }
}

[data-align="right"] {
  .wp-block-cover {
    margin-left: 1em;
  }
}

.block-editor-block-list__layout {
  .wp-block-cover {
    &__inner-container {
      margin-top: 0;
    }
    .block-list-appender {
      font-size: var(--wp--preset--font-size--large);
    }
  }
}

