.wp-block-table-of-contents {
  ol {
    margin: 0;
    padding-inline-start: 2em;
  }
  li {
    margin-block-start: 0 !important;
    .wp-block-table-of-contents__entry {
      display: block;
      &:where(:not(.wp-element-button)) {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }
    }
  }
}